@model IEnumerable<Week04.Models.Title>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearPub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.retailPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nolnStock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearPub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.retailPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nolnStock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ISBN }) |
            @Html.ActionLink("Details", "Details", new { id=item.ISBN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ISBN })
        </td>
    </tr>
}

</table>
